<div class="chat-top">
  <div class="left-header">
    <div class="chat-name">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="finish-room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-middle">
 <div class="message">
    <div class="upper-message">
      <div class="talk-person">
        Tom
      </div>
      <div class="time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="chat-message">
        おはよう
      </div>
    </div>
  </div>
</div>
<%= form_with model: [@room, @message], class:'chat-bottom', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content,  placeholder: 'type a message', class:'type-message'%>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send-btn' %>
<% end %>