.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-top {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-bottom {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-top {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-name{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.finish-room{
  margin-top: 40px;
}

.finish-room a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.chat-middle {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding:0 40px 46px 40px;
  overflow: scroll;
}

.message{
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.talk-person{
  color: #434a54;
  font-size: 16px;
  padding-right: 10px;
}

.time{
  font-size: 12px;
  color: #999;
}

.lower-message{
  margin-top: 10px;
}

.chat-message{
color: #434a54;
font-size: 14px;
margin-bottom: 40px;
}

.chat-bottom {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input{
 background-color: white;
 display: flex;
 width: 100%;
}

.type-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.send-btn{
  border: none;
  height: 50px;
  color: white;
  font-size: 16px;
  background-color: #38aef0;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color:  lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}






